<<<<<<< HEAD
$font-face: 'Roboto', Arial, Tahoma, sans-serif;
$theme-color: #7aaa32;
$primary-text-color: #666;
$secondary-text-color: #999;
$primary-border-color: #ccc;
$sub-section-background: #efefef;
$top-bar-height: 47px;
$offset-canvas: 250px;
$desktop-max-width: 1024px;
$hover-color: #c6b963;
$disabled-color: #999;
$placeholder-color: #dfdfdf;
$title-section-color: #c7b961;
$time-color: #868686;
=======
$font-face: 'Roboto', Arial, Tahoma, sans-serif;
$theme-color: #7aaa32;
$primary-text-color: #666;
$secondary-text-color: #999;
$primary-border-color: #ccc;
$sub-section-background: #efefef;
$top-bar-height: 47px;
$offset-canvas: 250px;
$desktop-max-width: 1024px;
$hover-color: #c6b963;
$disabled-color: #999;
$placeholder-color: #dfdfdf;
$title-section-color: #c7b961;
$time-color: #868686;
>>>>>>> 6aa44178a07020bef14f3d8dd1aa8669af957b11
$border-color-1px: 1px solid #c7c7c7;