$font-face: 'Roboto', Arial, Tahoma, sans-serif;
$theme-color: #7aaa32;
$primary-text-color: #666;
$secondary-text-color: #999;
$primary-border-color: #ccc;
$sub-section-background: #efefef;
$top-bar-height: 47px;
$offset-canvas: 250px;
$desktop-max-width: 1024px;
$hover-color: #efefef;
$disabled-color: #999;
$placeholder-color: #dfdfdf;