@import "_variables";
@import "_mixins";
@import "compass/reset";
@import "bourbon/bourbon";
/*@import "debug";*/
@import "neat/neat";
@import "font-awesome/font-awesome";
@import "../widgets/swiper/sass/idangerous.swiper";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,vietnamese);

@import "sprites/*.png";

body {
    font: 14px $font-face;

    @include bp(desktop) {
        background: #ccc;
    }
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: $primary-text-color;
}

.wrapper {
    @include outer-container();
}

.inactive {
    @include opacity(0.5);
}

#outer {
    width: 100%;

    @include outer-container();

    @include bp(desktop) {
        max-width: $desktop-max-width;
        margin: 0 auto;
    }

    @include bp(smartphone) {
        overflow: hidden;
    }

    /* main navigation */
    #main-nav {
        position: fixed;
        top: 0;


        @include bp(hybrid) {
            z-index: 1;
            left: 0;
            width: $offset-canvas;
            height: 100%;
            background: #fff;
            border-right: 1px solid $primary-border-color;
        }

        @include bp(widescreen) {
            width: 100%;
            height: $top-bar-height;
            z-index: 5;
            left: auto;
            right: auto;
            max-width: $desktop-max-width;

            @include align-items(flex-start);
            @include display(flex);
            @include flex-direction(row-reverse);
            @include justify-content(flex-start);
        }

        .site-search {
            height: $top-bar-height;
            position: relative;

            @include bp(hybrid) {
                width: 100%;
                border-bottom: 1px solid $primary-border-color;
            }

            @include bp(widescreen) {
                width: 400px;
                float: right;
                margin: 0 130px 0 0;
                @-moz-document url-prefix() {
                    margin-right: 140px;
                }
                border: 1px solid $primary-border-color;
                border-top: none;
                border-bottom: none;
            }

            > form {
                .site-search__field {
                    width: 100%;
                    height: $top-bar-height - 2;
                    font-size: 16px;
                    border: none;
                    background: none;
                    @include box-sizing(border-box);
                    padding: 0 32px 0 8px;

                    &:focus {
                        outline: none;
                    }
                }

                .site-search__button {
                    width: 32px;
                    height: 100%;
                    background: none;
                    border: none;
                    position: absolute;
                    top: 0;
                    right: 0;

                    > .fa {
                        color: invert($primary-text-color);
                    }
                }

                > fieldset {

                    > legend {
                        display: none;
                    }
                }
            }
        }

        #main-nav__list {
            width: 100%;

            > li {

                a {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    color: $primary-text-color;

                    > .fa {
                        color: $secondary-text-color;
                        font-size: 12px;
                        float: right;
                        margin: 18px 0 0 3px;
                    }
                }

                > a.focus ~ ul {
                    display: block;
                }

                > ul {
                    display: none;
                    background: #fff;

                    > li {

                        > a {
                            font-weight: normal;

                            &.active,
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            @include bp(hybrid) {
                height: calc(100% - #{$top-bar-height} - 4px);
                overflow: auto;

                > li {

                    > a {
                        padding: 10px 0 10px 10px;
                        border-bottom: 1px solid $primary-border-color;

                        > .fa {
                            margin: 4px 10px 0 0;
                        }
                    }

                    a:hover {
                        background: $hover-color;
                    }

                    a.active {
                        color: $theme-color;
                    }

                    > a.active ~ ul {
                        display: block;
                    }

                    > ul {

                        > li {
                            > a {
                                padding: 10px 0 10px 30px;
                            }
                        }
                    }
                }
            }

            @include bp(widescreen) {
                float: left;

                > li {
                    position: relative;
                    float: left;
                    margin: 0 20px;

                    a {
                        float: left;
                        height: 47px;
                        line-height: 47px;
                    }

                    > a:hover {
                        @include opacity(0.8);
                    }

                    > a.active {
                        border-bottom: 4px solid $theme-color;
                    }

                    > ul {
                        border: 1px solid $primary-border-color;
                        border-top: none;
                        width: 200px;
                        position: absolute;
                        top: $top-bar-height;
                        left: -10px;

                        > li {
                            float: left;
                            width: 100%;

                            > a {
                                width: 100%;
                                padding: 0 0 0 10px;
                            }

                            a:hover {
                                background: $hover-color;
                            }

                            a.active {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
    /* end of main navigation */

    /* app drawer */
    #drawer-toggle {
        display: none;
    }

    /* app drawer */
    @include bp(hybrid) {
        #drawer-toggle-label {
            cursor: pointer;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 4;
            width: $top-bar-height;
            height: $top-bar-height;
            background: none;

            @include off-canvas-translate3d();
            @include off-canvas-sliding(0);

            &:before {
                content: "";
                display: block;
                height: 3px;
                width: 24px;
                margin: 15px 0 0 ($top-bar-height - 24)/2;
                background: $primary-text-color;
                box-shadow: 0 7px 0 $primary-text-color, 0 14px 0 $primary-text-color;
            }
        }
        #drawer-toggle-label:hover {
            @include opacity(0.8);
        }
        #drawer-toggle:checked ~ #drawer-toggle-label {
            @include transition(transform 0.25s ease-out, background 0.5s ease-out);
            @include off-canvas-sliding($offset-canvas);

            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);

            &:hover {
                @include opacity(1);
            }
        }
        #drawer-toggle:checked ~ main {
            @include off-canvas-sliding($offset-canvas);
        }
    }

    @include bp(widescreen) {
        #drawer-toggle-label {
            display: none;
        }
    }
    /* end of app drawer */

    /* hotline */
    .hotline {
        width: 100%;
        max-width: $desktop-max-width;
        height: 47px;
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid $primary-border-color;
        position: fixed;
        top: 0;
        left: auto;
        right: auto;
        z-index: 3;
        font-size: 14px;
        color: $primary-text-color;
        text-align: center;
        @include off-canvas-translate3d();
        @include off-canvas-sliding(0);

        > i.fa {
            font-size: 47px;
            height: 45px;
            margin: 1px 0 0;
            float: right;
            color: $primary-text-color;
        }

        > strong {
            float: right;
            padding: 6px 10px 0 5px;

            > a {
                color: $primary-text-color;
                text-decoration: none;
                font-weight: bold;
            }
            > a:hover {
                text-decoration: none;
            }
        }
    }
    @include bp(hybrid) {
        width: 100%;
        right: 0;
        #drawer-toggle:checked ~ .hotline {
            @include off-canvas-sliding($offset-canvas);
        }
    }
    /* end of hotline */

    /* main */
    main {
        position: relative;
        z-index: 2;
        background: #fff;
        padding-top: $top-bar-height;
        @include bp(hybrid) {
            @include off-canvas-translate3d();
            @include off-canvas-sliding(0);
        }

        #primary-banner {
            width: 100%;
            max-height: 389px;
            background: $placeholder-color;
            overflow: hidden;

            > img,
            > video,
            > iframe {
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
            }
        }

        .app-info {
            height: 167px;

            > .wrapper {
                position: relative;
            }

            .app-info__icon {
                width: 110px;
                height: 110px;
                float: left;
                border: 1px solid $primary-border-color;
                @include border-radius(3px);
                margin: 22px 19px 0 0;
                padding: 0;

                @include bp(hybrid) {
                    @include shift(0.25);
                }
                @include bp(smartphone) {
                    margin: 22px 10px 0 0;
                    width: 100px;
                    height: 100px;
                    @include shift(0.5);
                }

                > img {
                    display: block;
                }
            }

            .app-info__brief {
                color: #000;
                padding: 24px 0 0;

                > strong {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .app-info__install {
                float: left;
                padding: 22px 0 0;

                > .app-info__install--mobile {
                    float: left;
                    margin: 0 10px 0 0;

                    @include bp(hybrid) {
                        > a {
                            @include common-button();
                        }
                    }

                    @include bp(widescreen) {
                        display: none;
                    }
                }

                > .app-info__install--desktop {
                    @include bp(hybrid) {
                        display: none;
                    }

                    float: left;
                    margin-right: 10px;


                    @include bp(widescreen) {
                        > a {
                            @include image-link(180px, 50px);
                        }
                    }

                    &.app-info__install--app-store {
                        > a {
                            @include sprites-sprite(app-store);
                        }
                    }

                    &.app-info__install--google-play {
                        > a {
                            @include sprites-sprite(google-play);
                        }
                    }
                }
            }

            @include bp(hybrid) {
                .app-info__qr {
                    display: none;
                }
            }

            @include bp(widescreen) {
                .app-info__qr {
                    width: 110px;
                    height: 110px;
                    position: absolute;
                    top: 22px;
                    right: 0;
                    border: 1px solid $primary-border-color;
                    @include border-radius(3px);
                }
            }

            .fb-like-placeholder {
                @include fb-placeholder();
                width: 120px;
                height: 50px;
                float: left;
                margin: 22px 0 0;

                iframe {
                    z-index: 2;
                }
            }
        }

        #main-content {

            /* section #key-features */
            #key-features {
                width: 100%;
                height: 268px;
                overflow: hidden;

                > .swiper-wrapper {

                    > .swiper-slide {
                        width: 427px;
                        padding: 0 5px 0 0;
                        height: 268px;
                        float: left;
                        margin: 0;

                        &:last-child {
                            padding-right: 0;
                        }

                        > img,
                        > video {
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: $placeholder-color;
                        }
                    }
                }
            }

            /* section #hot-events */

            #hot-event {
                overflow: hidden ;
                background: #fafafa;
                border-bottom: 1px solid #eaeaea;

                @include bp(desktop) {
                    padding-bottom: 35px;
                }
                @include bp(smartphone) {
                    padding-bottom: 20px;
                }

                h2 {
                    @include section-title();
                }

                > .swiper-container {
                    @include bp(desktop) {
                        @include outer-container();
                    }
                    @include bp(hybrid) {
                        @include shift(0.25);
                        @include span-columns(11.5);
                    }
                    position: relative;
                    overflow: initial;

                    @include bp(smartphone) {
                        @include shift(0);
                        @include span-columns(12);
                        overflow: hidden;
                        height: 210px;
                    }

                    > ul {
                        display: block;

                        @include bp(desktop) {
                            height: 373px;

                            &:after {
                                display: block;
                                content: " ";
                                position: absolute;
                                @include shift(7) ;
                                @include span-columns(5);
                                @include box-sizing(border-box);
                                height: 100%;
                                top: 0;
                                z-index: -1;
                                border: 1px solid $primary-border-color;
                            }
                        }

                        li.swiper-slide {
                            float: none;

                            @include bp(smartphone) {
                                width: 250px;                                
                                float: left;
                                padding-right: 10px;
                                box-sizing:border-box;

                                &:last-child {
                                    padding-right: 0;
                                }
                            }

                            > a {

                                > img {
                                    @include common-img();
                                    @include span-columns(7);

                                    position: absolute;                                    
                                    z-index: 100;
                                    @include opacity(1);

                                    @include bp(smartphone) {
                                        @include span-columns(12);
                                        position: relative;                                       
                                        @include opacity(1);
                                        max-height: 120px;
                                    }
                                }
                            }
                            > a:hover,
                            &.swiper-slide--active > a {
                                color: $primary-text-color;

                                img {
                                    z-index: 200;
                                    @include opacity(1);
                                }
                            }

                            div {
                                @include bp(smartphone) {
                                    clear: both;
                                    width: 100%;
                                    border: 1px solid $primary-border-color;
                                    padding: 10px;
                                }

                                @include bp(desktop) {
                                    @include shift(7) ;
                                    @include span-columns(5);
                                    @include box-sizing(border-box);
                                    padding: 10px 15px;
                                    border-bottom: 1px solid $primary-border-color;
                                    color: #4d4d4d;
                                    position: relative;
                                    border-left: 1px solid $primary-border-color;
                                    border-right: 1px solid $primary-border-color;
                                }

                                > h3 {
                                    @include post-title();
                                    

                                    @include bp(smartphone) {
                                        font-size: 18px;
                                        height: 50px;
                                        overflow: height;
                                    }

                                    &:hover {
                                        color: $post-title-color;
                                    }
                                }

                                > time {
                                    color: $time-color;
                                }
                            }

                            @include bp(desktop) {
                                div:hover,
                                &.swiper-slide--active div {
                                    background: $active-color;

                                    &:after { /* arrow */
                                        left: -30px;
                                        top: 50%;
                                        border: 1px solid transparent;
                                        content: " ";
                                        height: 0;
                                        width: 0;
                                        position: absolute;
                                        border-right-color: $active-color;
                                        border-width: 15px;
                                        margin-top: -15px;
                                        background: none;
                                    }
                                }

                                &:first-child {
                                    div {
                                        border-top: 1px solid $primary-border-color;
                                    }
                                }

                                &:last-child {
                                    div {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* section .posts */
            .search,
            .posts {
                @include span-columns(7);
                @include bp(hybrid) {
                    @include shift(0.25);
                    @include span-columns(6.75);
                }
                @include bp(smartphone) {
                    @include shift(0);
                    @include span-columns(12);
                    padding: 15px;
                }

                > h2 {
                    @include section-title();
                    @include bp(smartphone) {
                        display: none;
                    }
                }

                .search__tabs,
                .posts__tabs {
                    display: block;
                    margin-bottom: 10px;
                    background: #fff;
                    @include span-columns(8 of 8);
                    @include align-items(center);
                    @include display(flex);
                    @include flex-direction(row);

                    > li {
                        @include flex-grow(1);

                        border: 1px solid $primary-border-color;
                        border-right: none;
                        text-align: center;
                        font-weight: bold;

                        &.active,
                        &:hover.active {
                            background: $active-dark-color;
                            > a,
                            > a:hover {
                                color: #fff;
                             
                            }
                        }
                        &:hover {
                            background: $hover-color;
                        }

                        &:first-child {
                            @include border-left-radius(3px);
                        }

                        &:last-child {
                            border-right: 1px solid $primary-border-color;
                            @include border-right-radius(3px);
                        }

                        a {
                            padding: 20px;
                            display: block;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 14px;   

                        }
                    }
                }

                .search__list,
                .posts__list {
                    clear: both;
                    min-height: 300px;
                    position: relative;
                    /*@include off-canvas-translate3d();
                    @include css-sliding(0, 0, 0);*/

                    &.search__list--inactive,
                    &.posts__list--inactive {
                        /*@include css-sliding(0, 48px, 0);*/
                    }

                    > li {
                        padding: 15px 0;

                        @include bp(smartphone) {
                            width: calc( 100% + 30px );
                            margin-left: -15px;
                            padding: 15px;
                        }

                        border-bottom: 1px solid $primary-border-color;

                        p {
                            @include post-cate-and-time();
                        }
                        a  {
                            text-decoration: none;

                            h3 {
                                @include post-title();
                                padding: 10px 0 0;
                            }

                            &:hover {
                                h3 {
                                    color: $hover-secondary-color;
                                }
                            }

                            img {
                                @include common-img();                                
                                margin: 12px 0 8px;
                            }
                        }
                    }
                }
                p.search__loading,
                p.posts__loading {
                    width: 100%;
                    height: 50px;
                    padding: 0;
                    margin: 0;
                    border: none;
                    overflow: hidden;
                    @include transition(height 0.25s ease-out);

                    &.search__loading--hidden,
                    &.posts__loading--hidden {
                        height: 0;
                        @include transition-delay(0.25s);

                        > span {
                           @include opacity(0);
                           @include transition-delay(0);
                        }
                    }

                    > span {
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                        text-align: center;
                        border: 1px solid $primary-border-color;
                        padding: 15px 0;
                        color: $primary-text-color;
                        @include border-radius(3px);
                        @include opacity(1);
                        @include transition(opacity 0.25s ease-out);
                        @include transition-delay(0.25s);
                    }
                }

                .search__view-all,
                .posts__view-all {
                    display: block;
                    padding: 15px 20px;
                    border: 1px solid $primary-border-color;
                    @include bp(smartphone) {
                        @include span-columns(4 of 7);
                    }    
                    @include bp(desktop) {
                        @include span-columns(3 of 7);
                    }                        
                    @include shift(2);
                    margin-top: 20px;
                    margin-bottom: 20px;
                    @include border-radius(3px);
                    text-align: center;
                    color: $primary-text-color;
                    text-decoration: none;

                    &:hover {
                        background: $hover-color;
                    }

                    > .fa {
                    }
                }
            }

            .pagination {
                width: 100%;
                overflow: hidden;
                padding: 10px 0;
                @include box-sizing(border-box);

                > .pagination__list {
                    @include align-items(space-around);
                    @include display(flex);
                    @include flex-direction(row);
                    @include justify-content(space-around);

                    > li {

                        > a {
                            display: block;
                            padding: 8px 0;
                            min-width: 60px;
                            @include bp(hybrid) {
                                min-width: 35px;
                            }
                            text-align: center;
                            @include border-radius(3px);

                            &:hover {
                                background: $hover-color;
                            }
                        }

                        > .pagination__index {

                            &.pagination__index--active {
                                background: $theme-secondary-color;
                                color: #fff;
                            }
                        }

                        > .pagination__nav {
                            min-width: 120px;
                            border: 1px solid $primary-border-color;

                            @include bp(hybrid) {
                                min-width: 35px;

                                > span {
                                    display: none;
                                }
                            }

                            &.pagination__nav--disabled {
                                color: $disabled-color;
                                @include opacity(0.2);
                            }
                        }
                    }
                }

                &.pagination--bottom {
                    padding-bottom: 75px;
                }
            }

            /* section .socials */
            .socials {
                width: 100%;
                overflow: hidden;
                background: $sub-section-background;
                border-top: 1px solid $primary-border-color;
                padding: 20px 0;
                @include align-items(center);
                @include display(flex);
                @include flex-direction(row);
                @include justify-content(center);

                .socials__list {

                    > li {
                        float: left;
                        margin: 0 20px;

                        > a {
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            font-size: 12px;
                            color: $primary-text-color;

                            > .fa {
                                font-size: 30px;
                            }
                        }
                        > a:hover {
                            @include opacity(0.8);
                        }
                    }
                }
            }
        }

        /* only available on desktop */

        #extra-content {
            @include span-columns(5);
            @include bp(hybrid) {
                @include span-columns(4.75);
            }

            float: right;
            padding-top: 79px;

            .rating-box {
                padding: 10px 20px;
                border: 1px solid $primary-border-color;

                > h3 {
                    @include post-title();
                    text-align: center;
                    margin-top: 10px;
                }

                .rating-box__stars {
                    width: 100%;
                    padding: 20px 0;
                    @include align-items(space-between);
                    @include display(flex);
                    @include flex-direction(row);
                    @include justify-content(space-between);

                    > li {
                        font-size: 18px;
                        color: $secondary-text-color;

                        > a {
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 28px;
                            color: $secondary-text-color;

                            &:hover {
                                color: $primary-text-color;
                            }
                        }

                        span {
                            display: none;
                        }
                    }
                }
                .rating-box__stars--average {
                    padding-bottom: 5px;
                    @include align-items(center);
                    @include justify-content(center);

                    > li {
                        margin: 0 5px;
                    }
                }

                > hr {
                    @include hr();
                }

                > .rating-box__average-points {
                    text-align: center;
                    font-size: 96px;
                    font-weight: normal;
                    display: block;
                    padding: 44px 0 0;
                    line-height: 60px;
                    color: $primary-text-color;
                }

                > .rating-box__total-rating {
                    text-align: center;
                    color: $primary-text-color;
                    font-size: 16px;
                    padding-bottom: 20px;
                }

                > .rating-box__statistic {
                    padding-bottom: 13px;

                    > li {
                        width: 100%;
                        overflow: hidden;
                        padding-bottom: 1px;

                        > label {
                            float: left;
                            width: 40px;
                            color: $primary-text-color;
                            padding-top: 4px;

                            > .fa {
                                margin: 0 5px;
                            }
                        }

                        > .rating-box__statistic-bar {
                            float: left;
                            width: calc( 100% - 40px );
                            height: 25px;
                            background: #dfdfdf;

                            > span {
                                display: block;
                                height: 25px;
                                text-indent: 20px;
                                color: $primary-text-color;
                                font-size: 14px;
                                padding-top: 5px;
                                @include box-sizing(border-box);
                            }
                        }
                        &:nth-child(1) > .rating-box__statistic-bar > span {
                            background: #a0c05b;
                        }
                        &:nth-child(2) > .rating-box__statistic-bar > span {
                            background: #add632;
                        }
                        &:nth-child(3) > .rating-box__statistic-bar > span {
                            background: #ffd833;
                        }
                        &:nth-child(4) > .rating-box__statistic-bar > span {
                            background: #ffb234;
                        }
                        &:nth-child(5) > .rating-box__statistic-bar > span {
                            background: #ff8b5a;
                        }
                    }
                }
            }

            @include bp(smartphone) {
                display: none;
            }
        }

        /* footer */
        footer {
            padding: 10px 0;
            background: invert($sub-section-background);

            .copyright {
                text-align: center;
                color: $primary-text-color;
                font-size: 12px;
            }
        }
        /* end of footer */
    }
    /* end of main */

    .flyout-content {
        width: 0;
        height: 100%;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;

        @include bp(widescreen) {
            right: calc( 50% - #{$desktop-max-width}/2  - 40px );
        }

        .flyout-content__top-button {
            position: absolute;
            bottom: 98px;
            right: 10px;
            @include bp(widescreen) {
                right: 0;
            }
            width: 32px;
            height: 32px;
            line-height: 12px;
            text-align: center;
            font-size: 13px;
            color: $primary-text-color;
            background: #fff;
            border: 1px solid $primary-border-color;
            text-decoration: none;

            @include border-radius(3px);

            @include opacity(0.2);
            @include transition(opacity 0.5s ease-in-out);

            > .fa {
                font-size: 10px;
            }
        }

        .flyout-content__top-button--shown {
            @include opacity(1);
        }
    }
}