@import "screen";
@import "../widgets/fancybox/sass/jquery.fancybox";

article {
	@import "base/base";
	pre {
		overflow: auto;
	}
	* {
		color: $content-text-color;
		font-family: $font-face;
	}
	h1 {
		@include section-title();
		text-align: left;
		padding-top: 36px;
	}

	h2 {
		font-size: 20px;
		font-weight: bold;
	}

	img {
		border: 1px solid $primary-border-color;
	}
	p {
		line-height: $base-line-height;
	}
	ul, ol {
		margin-left: 15px;
	}

	.post__cate-and-time {
		@include post-cate-and-time();
	}
}

.post {

	.post__sharing {
		min-height: 40px;
		margin-top: 20px;
	}

	.post_tags {
		font-size: 12px;
		margin-bottom: 80px;

		@include bp(smartphone) {
			margin-bottom: 0;
		}

		a {
			margin: 0 5px;
		}
		a:hover {
			color: $hover-secondary-color;
		}
	}

	table {
		th {
			background-color: $table-header-background-color;
		}
		td {
			border: 1px solid $table-border-color;
			box-sizing: border-box;
			padding: 5px;
		}
		tr {
			&:nth-child(even) {
				background-color: $table-even-row-background-color;
			}
			&:nth-child(odd) {
				background-color: $table-odd-row-background-color;
			}
		}
	}
}

.rte {
	* { font-family: $font-face; }
}

.subpage-details {
	@include bp(desktop) {
		@include span-columns(8);
	}
	@include bp(hybrid) {
		@include span-columns(7.75);
		@include shift(0.25);
	}
	@include bp(smartphone) {
		@include span-columns(11);
		@include shift(0.5);
	}

	padding-bottom: 40px;
}

.subpage {
	#outer {
		main {
			.app-info {
				border-bottom: 2px solid $primary-border-color;
				background: $placeholder-color;
			}

			#main-content {
				.wrapper {

					.search {
						@include span-columns(12);

						@include bp(hybrid) {
							@include span-columns(11.5);
						}

						@include bp(smartphone) {
							@include span-columns(12);
						}
					}
				}


				.posts {
					@include span-columns(8);
					@include bp(hybrid) {
						@include shift(0.25);
						@include span-columns(7.75);
					}
					@include bp(smartphone) {
						@include span-columns(11);
						@include shift(0.5);
						padding: 0;
					}

					h2 {
						display: block!important;
					}
				}

				aside h2,
				.posts h2{
					font-size: 20px;
					font-weight: bold;
					color: $primary-text-color;
					text-align: left;
				}

				.posts--related {
					float: left;

					@include bp(desktop) {
						@include span-columns(4);
						margin: 0;
					}

					> h2 {
						padding: 40px 0 0;
					}

					.posts__list {

						> li:last-child {
							border-bottom: none;
							padding-bottom: 80px;
						}
					}
				}

				#extra-content {
					@include span-columns(4);
					@include bp(hybrid) {
						@include span-columns(3.75);
						margin-right: 0;
					}
					@include bp(smartphone) {
						display: none;
					}

					float: left;
					margin: 0;
					padding-top: 38px;

					.hotevent {

						> h2 {
							margin-bottom: 14px;
						}

						.hotevent__list {

							a {
								display: block;
								overflow: hidden;
								border: 1px solid $primary-border-color;

								img {
									display: inline-block;
									height: 200px;
									width: auto;
									border: none;
									float: left;
								}

								> div {
									float: left;
									width: 100%;
									border-top: 1px solid $primary-border-color;
									padding: 15px 5%;
									text-align: left;

									h3 {
										font-size: 16px;
										color: #4d4d4d;
										padding: 0;
										text-align: left;
										line-height: 2;
									}

									time {
										color: #000;
									}
								}
							}
						}
					}
				}

				.gallery {
					@include span-columns(12);
					@include bp(hybrid) {
						@include shift(0.25);
						@include span-columns(11.5);
					}
					@include bp(smartphone) {
						@include shift(0.5);
						@include span-columns(11);
					}
					h2 {
						@include section-title();
					}

					ul.gallery__list {
						@include span-columns(12);
						display: block;
						list-style: none;
						overflow: hidden;
						margin-top: 20px;
						border-bottom: 1px solid $primary-border-color;

						li,
						li.gallery__item {
							@include span-columns(6 of 12);
							@include bp(smartphone) {
								@include shift(0);
								@include span-columns(12);
							}
							display: block;
							list-style: none;
							margin-bottom: 10px;
							
							&:nth-child(even) {
								margin-right: 0;
							}

							a {
								display: block;
								overflow: hidden;
								position: relative;
								height: 100%;
								width: 100%;
								@include border-radius(3px);
								border: 1px solid $primary-border-color;

								img {
									display: inline-block;
									width: 100%;
									
									border: none;
									float: left;
									background: #bababa;
								}

								> h3 {
									font-size: 15px;																	
									line-height: 40px;
									text-indent: 20px;
									position: absolute;																	
									width: 100%;
									bottom: 0;
									color: #fff;
									background: rgba(0,0,0,0.5);
								}

								&:hover {
									@include opacity(0.8);
								}
							}
						}
					}
				}
			}
		}
	}
}