@import "screen";

article {
	@import "base/base";
	pre {
		overflow: auto;
	}
	* {
		color: $content-text-color;
		font-family: $font-face;
	}
	h1 {
		@include section-title();
		text-align: left;
		padding-top: 36px;
		text-transform: inherit;
	}

	h2 {
		font-size: 20px;
		font-weight: bold;
	}

	img {
		border: 1px solid $primary-border-color;
	}
	p {
		line-height: $base-line-height;
	}
	ul, ol {
		margin-left: 15px;
	}

	.post__cate-and-time {
		@include post-cate-and-time();
		margin-bottom: 0;
	}
}

.post {

	.post__sharing {
		min-height: 40px;
		margin-top: 20px;
	}

	.post_tags {
		font-size: 12px;
		margin-bottom: 80px;

		@include bp(smartphone) {
			margin-bottom: 0;
		}

		a {
			margin: 0 5px;
		}
		a:hover {
			color: $hover-secondary-color;
		}
	}

	table {
		th {
			background-color: $table-header-background-color;
		}
		td {
			border: 1px solid $table-border-color;
			box-sizing: border-box;
			padding: 5px;
		}
		tr {
			&:nth-child(even) {
				background-color: $table-even-row-background-color;
			}
			&:nth-child(odd) {
				background-color: $table-odd-row-background-color;
			}
		}
	}
}

.rte {
	* { font-family: $font-face; }
}

.subpage-details {
	@include span-columns(8);
	@include bp(smartphone) {
		width: 100%;
		padding: 0 15px 20px;
		@include box-sizing(border-box);
		@include shift(0);
	}

	padding-bottom: 40px;
}

.subpage {
	#outer {
		main {
			.app-info {
				border-bottom: 2px solid $primary-border-color;
				background: $placeholder-color;
			}

			#main-content {
				.wrapper {

					.search {
						@include span-columns(12);

						@include bp(hybrid) {
							@include span-columns(11.5);
						}

						@include bp(smartphone) {
							@include span-columns(12);
						}
					}
				}


				.posts {
					@include span-columns(8);
					@include bp(smartphone) {
						width: 100%;
						padding: 0 15px;
						@include box-sizing(border-box);
						@include shift(0);
					}

					h2 {
						display: block!important;
					}

					.posts__tabs {
						margin-top: 0;
					}
				}

				aside h2,
				.posts h2{
					font-size: 20px;
					font-weight: bold;
					color: $primary-text-color;
					text-align: left;
				}

				.posts--related {
					float: left;

					@include bp(desktop) {
						@include span-columns(4);
						margin: 0;
					}

					@include bp(smartphone) {
						border-top: 1px solid $primary-border-color;
						padding-top: 10px;
					}

					> h2 {
						padding: 40px 0 0;
						@include bp(smartphone) {
							padding: 10px 0 0;
						}
					}

					.posts__list {
						min-height: inherit;

						> li:last-child {
							border-bottom: none;
							padding-bottom: 40px;
						}
					}
				}

				#extra-content {
					@include span-columns(4);
					@include bp(smartphone) {
						display: none;
					}

					float: left;
					margin: 0;
					padding-top: 38px;

					.hotevent {

						> h2 {
							margin-bottom: 14px;
							text-transform: uppercase;
						}

						.hotevent__list {

							> li {
								padding-bottom: 20px;

								a {
									display: block;
									overflow: hidden;
									border: 1px solid $primary-border-color;

									img {
										display: inline-block;
										height: 200px;
										width: auto;
										border: none;
										float: left;
									}

									> div {
										float: left;
										width: 100%;
										padding: 15px 5%;
										text-align: left;

										h3 {
											@include post-title();
										}

										time {
											color: $time-color;
										}
									}
								}
							}
						}
					}
				}

				.gallery {
					@include span-columns(12);

					h2 {
						@include section-title();
					}

					ul.gallery__list {
						@include span-columns(12);
						display: block;
						list-style: none;
						overflow: hidden;
						padding: 20px 0;

						li,
						li.gallery__item {
							@include box-sizing(border-box);
							width: 50%;
							padding-right: 5px;
							float: left;

							&:nth-child(even) {
								float: right;
								padding-right: 0;
								padding-left: 5px;
							}

							@include bp(smartphone) {
								width: 100%;
								padding: 0;
							}
							display: block;
							list-style: none;
							margin-bottom: 10px;

							@include bp(desktop) {
								height: 292px;
								overflow: hidden;
							}

							@include bp(smartphone) {
								height: 100%;
							}

							&:nth-child(even) {
								margin-right: 0;
							}

							a {
								display: block;
								overflow: hidden;
								position: relative;
								height: 100%;
								width: 100%;
								padding: 1px;
								@include box-sizing(border-box);

								img,
								video {
									display: block;
									width: 100%;
									height: 100%;
									@include border-radius(10px);
								}

								> h3 {
									display: none;
								}

								&:hover {
									@include opacity(0.8);
								}
							}
						}
					}
				}
			}
		}
	}
}